version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/android" # Gradleプロジェクトのルートを指定
    schedule:
      interval: "daily"
    groups:
      androidx-compose:
        patterns:
          - "androidx.compose.*"
      androidx-navigation:
        patterns:
          - "androidx.navigation.*"
      androidx-hilt:
        patterns:
          - "androidx.hilt.*"
      androidx-datastore:
        patterns:
          - "androidx.datastore.*"
      androidx-lifecycle:
        patterns:
          - "androidx.lifecycle.*"
      androidx-test:
        patterns:
          - "androidx.test.*"
      android:
        patterns:
          - "com.android.*"
      kotlin:
        patterns:
          - "org.jetbrains.kotlin.*"
      google-play:
        patterns:
          - "com.google.android.play*"

  - package-ecosystem: "pip"
    directory: "/server/play_integrity"
    schedule:
      interval: "daily"
  - package-ecosystem: "pip"
    directory: "/server/key_attestation"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
