# This is a basic workflow to help you get started with Actions

name: Android CI

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]
    paths:
      - 'android/**'
      - '!.android/docs/**'
      - '.github/workflows/android_ci.yml' # To ensure changes to the workflow itself are checked
  pull_request:
    branches: [ "main" ]
    paths:
      - 'android/**'
      - '!.android/docs/**'
      - '.github/workflows/android_ci.yml' # To ensure changes to the workflow itself are checked

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  buildAndTest:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Set up JDK
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ hashFiles('**/*.gradle*') }}-
            gradle-

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      # Grant execute permission for gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x android/gradlew
        working-directory: ./

      # Build with Gradle
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: ./android

      - name: Run tests on emulator
        uses: reactivecircus/android-emulator-runner@v2
        timeout-minutes: 30
        with:
          api-level: 29
          target: google_apis
          arch: x86_64 # Use x86_64 for better performance on CI
          emulator-boot-timeout: 1200 # Increase boot timeout to 20 minutes
          emulator-options: -accel on -no-snapshot -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          working-directory: ./android # Important for gradle script path
          script: |
            echo "Listing connected devices..."
            adb devices
            echo "Running Android connected tests..."
            ./gradlew connectedAndroidTest
