# This is a basic workflow to help you get started with Actions

name: Android CI

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]
    paths:
      - 'android/**'
      - '!.android/docs/**'
      - '.github/workflows/android_ci.yml' # To ensure changes to the workflow itself are checked
  pull_request:
    branches: [ "main", "feature/**" ]
    paths:
      - 'android/**'
      - '!.android/docs/**'
      - '.github/workflows/android_ci.yml' # To ensure changes to the workflow itself are checked

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  buildAndTest:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: Free Disk Space
        run: |
          echo "Disk space before cleanup:"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          echo "Disk space after cleanup:"
          df -h

      # Set up JDK
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ hashFiles('**/*.gradle*') }}-
            gradle-

      # Exclude Android Instrumentation tests because they take too long and have many issues.
      # - name: Enable KVM group perms
      #   run: |
      #     echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
      #     sudo udevadm control --reload-rules
      #     sudo udevadm trigger --name-match=kvm

      # Grant execute permission for gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x android/gradlew
        working-directory: ./

      # Create debug keystore and properties for CI
      - name: Create dummy keystore.properties
        run: |
          # Create keystore.properties
          # The path for storeFile must be an absolute path
          echo "storeFile=$(pwd)/debug.keystore" > keystore.properties
          echo "storePassword=android" >> keystore.properties
          echo "keyAlias=androiddebugkey" >> keystore.properties
          echo "keyPassword=android" >> keystore.properties

          # Set the environment variable for the build
          echo "KEYSTORE_PROPERTIES_PATH=$(pwd)/keystore.properties" >> $GITHUB_ENV
        working-directory: ./android

      # Build with Gradle
      - name: Build with Gradle
        run: ./gradlew build --no-daemon
        working-directory: ./android
        env:
            GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx4096m"

      # Exclude Android Instrumentation tests because they take too long and have many issues.
      # - name: Run tests on emulator
      #   uses: reactivecircus/android-emulator-runner@v2
      #   timeout-minutes: 60
      #   env:
      #       GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx4096m -XX:MaxMetaspaceSize=512m"
      #   with:
      #     api-level: 26
      #     target: google_apis
      #     arch: x86_64 # Use x86_64 for better performance on CI
      #     emulator-boot-timeout: 1200 # Increase boot timeout to 20 minutes
      #     emulator-options: -no-window -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim
      #     disable-animations: true
      #     working-directory: ./android # Important for gradle script path
      #     pre-emulator-launch-script: |
      #                 echo "hw.dataPartition.size=1024M" >> ~/.android/avd/test.avd/config.ini
      #                 echo "disk.dataPartition.size=1024M" >> ~/.android/avd/test.avd/config.ini
      #     script: |
      #       echo "Listing connected devices..."
      #       adb devices
      #       echo "Running Android connected tests..."
      #       ./gradlew connectedAndroidTest --no-daemon